.pre {
    // height: 50%;
    width:max-content;
    margin:auto;
    background-color: inherit;
    border: 3px solid rgb(111, 80, 84);
    border-radius: 30px;
    padding: 5px;
}


.btn-add {
    height: 50%;
    background-color: inherit;
    border: 1px solid rgb(10, 2, 3);
    //    border-radius: 30px;
    background-color: lightblue;
    font-weight: bold;
    padding: 5px;
}

.toy-edit,
.toy-details {
    // margin: auto;
    // width: 400px;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.05em;
}

.nav-btn {
    border: 2px solid grey;
    border-radius: 20px;
}

.nav-btn:hover {
    background-color: palevioletred;
}