.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: pink;
}
.toy-preview{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1em;
    background-color: whitesmoke;
    color: #595454;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 500px;
    border: 0.2px solid #d8d8d8;
}
.toy-edit {
    display: grid;
    margin-top: 60px;
    margin-left: 30%;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1em;
    background-color: whitesmoke;
    font-size: 20px;
    color: #595454;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 400px;
    align-content: center;
    height: 300px;
    border: 0.2px solid #d8d8d8;
}
.toy-details {
    display: flex;
    margin:auto;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1em;
    background-color: whitesmoke;
    font-size: 20px;
    color: #595454;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 400px;
    height: fit-content;
    border: 0.2px solid #d8d8d8;
}
.toy-img {
//    max-height: 350px;
   min-height: 200px;
//    width: 200px;
}
.pre-btn{
    display: grid;
}